p{
    margin: 0;
}

.work{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        border-bottom: 3px solid;
        width: 75vw;
        text-align: center;
    }

    &__list{
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 75vw;
        padding: 0;

        &-item{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            justify-content: space-between;
        }
    }

    &__button{
        align-self: center;
        cursor: pointer;
        padding: 5px 10px;
        font-family: 'Poppins';
        font-size: 16px;
    }
}